.gpt3__footer {
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/

    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--color-footer);
    padding-top: 0.75rem!important;
    padding-bottom: 2rem;
}

.gpt3_footer_header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
}